# The worked analysis
wood.Rmd
wood.md
wood.html
wood.pdf

# generated data
output/

# Data intermediates
data/theplantlist/acceptedNames1.1
data/theplantlist/names*csv
data/geo/raw

# Figures for the paper
doc/figs/fraction-by-genus.pdf
doc/figs/fraction-by-family.pdf
doc/figs/fraction-by-order.pdf
doc/figs/fraction-on-phylogeny.pdf
doc/figs/fraction-on-phylogeny-supp.pdf
doc/figs/distribution-raw.pdf
doc/figs/distribution-raw-errors.pdf
doc/figs/survey-results.pdf
doc/figs/survey-distribution.pdf
doc/figs/variability.pdf

# Actual paper
doc/wood-ms.pdf

# knitr intermediate:
cache
figure

# Cover letter
coverletter/wood-coverletter.pdf

# attempts here
rarefaction
kew.R
kewLifeform_data.csv
