cache
figure
how-much-wood.Rmd
how-much-wood.md
how-much-wood.html
old

output/

doc/wood-ms.pdf
heir

coverletter/wood-coverletter.pdf

wood-ms-prev.tex
wood-ms-diff.tex
wood-ms-diff.pdf

data/geo/raw

analysis-for-review/wood-analysis.Rmd
analysis-for-review/wood-analysis.html
analysis-for-review/wood-analysis.md

wood.Rmd
wood.html
wood.md

# attempts here
rarefaction
kew.R
kewLifeform_data.csv
