cache
figure
how-much-wood.Rmd
how-much-wood.md
how-much-wood.html
old
phy.f.rds
phy.o.rds

doc/wood-ms.pdf
heir

woodiness.rds

coverletter/wood-coverletter.pdf

wood-ms-prev.tex
wood-ms-diff.tex
wood-ms-diff.pdf

sim.weak.rds
sim.strong.rds

survey/country